<launch>
  <arg name="debug default="false" type="bool" />
  <arg name="K" default="4" type="int" />

  <node name="comm" pkg="fishcode" type="usb_comm" />
  <node name="commander" pkg="fishcode" type="commander" />
  <node name="vis_servo" pkg="fishcode" type="vis_servo" >
    <arg name="debug" value="$(arg debug)" type="bool" />
    <arg name="K" value="$(arg K)" type="int" />
  </node>

</launch>